/* Styling for the header section of the page */
/* The div containing the content */
#page-header {
    height: auto;
    padding-bottom: 5px;

    background-color: var(--div-background-color);
    border-bottom: 1px solid var(--div-border-color);
    
    place-content: center;
    transition: var(--transition);
}

/* Search bar */
#search-box {
    margin-left: 75px;
    margin-top: 5px;

    display: flex;
    place-self: center;
    flex-direction: row;
}

#search-icon {
    background-image: var(--search-icon);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    
    border: 1px solid var(--button-border-color);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-right: 0px solid transparent;
    
    padding: 5px 5px 5px 5px;
    width: 40px;
    height: 43px;
    
    background-color: var(--button-background-color);
    transition: var(--transition);
}

#search-bar, #search-bar:focus {
    border: 1px solid var(--button-border-color);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-left: none;
    outline: none;
    
    padding: 5px 5px 5px 5px;
    height: 31px;
    width: 500px;

    font-size: large;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    transition: var(--transition);
}

#search-bar::placeholder {
    color: var(--button-text-color);
    transition: var(--transition);
}

/* Filters */
#filter-opener {
    display: flex;

    place-self: center;
}

#filters {
    display: grid;
    opacity: 0;
    place-self: center;

    height: 0px;
    gap: 5px;

    transition: var(--transition);
}

#filters.visible {
    display: grid;
    opacity: 1;

    height: 100%;

    transition: var(--transition);
}

#filters button {
    cursor: default;
}

#filters.visible button {
    cursor: pointer;
}

.filter-subcategory {
    padding: 5px 5px 5px 5px;
    border: 1px solid var(--div-border-color);
    border-radius: 10px;
    transition: var(--transition);
}

.filter-button.enabled {
    background-color: var(--button-hover-color);
}

/* Styling for the recipe catalog section of the page */
/* Recipe catalog */
#recipe-catalog {
    display: grid;
    grid-template-columns: repeat(4, auto);

    padding: 10px 10px 10px 10px;
    border: 1px solid var(--button-border-color);
    border-radius: 10px;
    margin-left: 100px;
    margin-right: 100px;
    height: 500px;
    overflow: scroll;

    transition: var(--transition);
}

#recipe-catalog::-webkit-scrollbar {
    display: none; /* Hides the scrollbar */
}

/* Styling for the recipe cards */
/* Recipe card */
.recipe-card {
    display: flex;
    position: relative;
    flex-direction: column-reverse;
    place-self: center;
    place-content: center;

    width: 300px;
    height: 300px;
    margin-bottom: 50px;

    border: 1px solid var(--button-border-color);
    border-radius: 10px;

    transition: var(--transition);
}

.recipe-card.hidden {
    display: none;
}

/* Recipe link */
.recipe-link {
    width: 300px;
    height: 300px;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--button-background-color);
    border-radius: 10px;

    transition: var(--transition);
}

.recipe-link:hover {
    background-color: var(--button-hover-color);
    
    transition: var(--transition);
}

/* Recipe Image */
.recipe-image {
    width: 300px;
    height: 300px;
    object-fit: contain;
    border-radius: 10px;
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
}

/* The name of the recipe */
.recipe-name {
    position: absolute;

    place-self: center;
    text-align: center;

    padding: 5px 5px 5px 5px;
    color: var(--button-text-color);
    border: 2px solid var(--button-border-color);
    background-color: var(--button-background-color);

    width: 75%;

    transition: var(--transition);
}

/* Delete button */
.delete-recipe::before {
    content: "Delete";
    font-size: 0px;

    transition: var(--transition);
}

.delete-recipe {
    position: absolute;
    top:   -1px;
    right: -1px;

    font-size: 20px;

    padding: 3px 3px 3px 3px;

    width: auto;
    height: 25px;

    background-color: var(--button-background-color);
    border: 1px solid var(--button-border-color);
    border-bottom-left-radius: 10px;
    
    transition: var(--transition);
}

.delete-recipe:hover {
    background-color: var(--button-hover-color);
    font-size: 0px;

    transition: var(--transition);
}

.delete-recipe:hover.delete-recipe::before {
    font-size: 20px;

    transition: var(--transition);
}

/* Styling for the week planner */
/* Ingredient list */
#ingredient-list {
    display: none;
}

#ingredient-list.visible {
    display: flex;

    border: 1px solid var(--div-border-color);
    border-radius: 10px;
    background-color: var(--div-background-color);

    place-self: center;
    width: 75%;

    transition: var(--transition);
}

#spread-warning {
    font-size: 0px;
    transition: var(--transition);
}

#spread-warning.visible {
    font-size: 0.83em;
    transition: var(--transition);
}

#week-planner {
    display: grid;

    place-self: center;
    gap: 15px;

    grid-template-columns: repeat(7, auto);
    
    transition: var(--transition);
}

.weekday-div {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;

    border: 1px solid var(--button-border-color);
    border-radius: 10px;

    height: auto;
    width: 200px;
    text-align: center;
    padding: 10px 10px 10px 10px;
    padding-bottom: 30px;
}

.weekday {
    place-items: center;
}

.weekday-placeholder {
    display: none;
}

.weekday-placeholder.visible {
    display: block;
}

.planned-meals {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 0px;
    row-gap: 5px;
}

.recipe-button, .spread-button, .clear-button {
    background-color: var(--button-background-color);
    border: 1px solid var(--button-border-color);
    padding: 5px 5px 5px 5px;
    color: var(--button-text-color);

    transition: var(--transition);
}

.recipe-button:hover, .spread-button:hover, .clear-button:hover {
    background-color: var(--button-hover-color);

    transition: var(--transition);
}

.recipe-button {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.clear-button {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}