/* Recipes */
#selected-recipe.visible {
    display: block;
    position: absolute;
    border: 3px solid var(--button-border-color);
    background-color: var(--button-hover-color);
    color: var(--button-text-color);

    z-index: 255;
}

#selected-recipe {
    display: none;
}

#recipe-catalog {
    display: grid;
    grid-template-columns: repeat(4, auto);

    padding: 10px 10px 10px 10px;
    border: 3px solid var(--button-border-color);
    margin-left: 100px;
    margin-right: 100px;
    height: 500px;
    overflow: scroll;

    transition: var(--transition);
}

#recipe-catalog::-webkit-scrollbar {
    display: none; /* Hides the scrollbar */
}

.recipe-card {
    display: flex;
    position: relative;
    flex-direction: column-reverse;
    place-self: center;
    place-content: center;

    width: 300px;
    height: 300px;
    margin-bottom: 50px;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    transition: var(--transition);
}

.recipe-card:hover {

    transition: var(--transition);
}

.recipe-name {
    place-self: center;
    text-align: center;

    padding: 5px 5px 5px 5px;
    color: var(--button-text-color);
    border: 3px solid var(--button-border-color);
    background-color: var(--button-background-color);

    width: 75%;

    transition: var(--transition);
}

.delete-recipe::before {
    content: "Delete";
    font-size: 0px;
    /* width: auto; */
    /* height: 25px; */

    transition: var(--transition);
}

.delete-recipe {
    position: absolute;
    top: -3px;
    right: -3px;

    font-size: 20px;

    padding: 3px 3px 3px 3px;

    width: auto;
    height: 25px;

    background-color: var(--button-background-color);
    border: 3px solid var(--button-border-color);
    border-bottom-left-radius: 10px;
    
    transition: var(--transition);
}

.delete-recipe:hover {
    background-color: var(--button-hover-color);
    font-size: 0px;

    transition: var(--transition);
}

.delete-recipe:hover.recipe-card {
    background-color: var(--button-background-color);
}

.delete-recipe:hover.delete-recipe::before {
    font-size: 20px;

    transition: var(--transition);
}

/* Week planner */
#week-planner {
    display: grid;

    place-self: center;
    /* padding: 5px 5px 5px 5px; */
    border: 3px solid var(--button-border-color);
    gap: 15px;

    grid-template-columns: repeat(7, auto);
    
    transition: var(--transition);
}

.weekday-div {
    border: 3px solid var(--button-border-color);
    position: relative;
}

.weekday-button {
    width: 225px;
    height: 225px;

    border: none;
    border-top: 3px solid var(--button-border-color);
    border-bottom: 3px solid var(--button-border-color);

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    background-color: var(--button-background-color);
    color: var(--button-text-color);

    transition: var(--transition);
}

.weekday-outer-element {
    background-color: var(--button-background-color);
    width: 100%;
    text-align: center;
}

.weekday-inner-text {
    visibility: none;
}

.weekday-inner-text.visible {
    visibility: visible;
    border: 3px solid var(--button-border-color);
    background-color: var(--button-background-color);
    padding: 5px 5px 5px 5px;
}

.clear-weekday {
    border: none;
}

.weekday-multi {
    display: none;
}

.weekday-multi.visible {
    display: block;

    position: absolute;
    top: 30px;
    left: -3px;
}

