* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    --transition: .25s ease-in-out;

    background-color: var(--page-background-color);

    transition: var(--transition);
}

#header {
    place-self: center;

    color: var(--page-text-color);

    transition: var(--transition);
}

#recipe_catalog {
    display: grid;
    grid-template-columns: repeat(4, auto);

    transition: var(--transition);
}

.recipe_link {
    display: flex;
    place-content: center;

    width: 400px;
    height: 400px;
    margin-bottom: 50px;

    border: 3px solid var(--button-border-color);
    background-color: var(--button-background-color);
    text-decoration: none;
    color: var(--button-text-color);

    transition: var(--transition);
}

.recipe_name {
    place-self: center;
}