/* Navigation */
#nav-buttons {
    display: flex;
    gap: 15px;
    padding: 5px 5px 5px 5px;
}

#home, #edit {
    width: 125px;
    height: 50px;
    border-radius: 100px;
}

#home {
    width: 75px;
}

/* Header section */
#header {
    display: grid;
    grid-template-columns: 40% 60%;

    background-color: var(--div-background-color);
    border-top: 1px solid var(--div-border-color);
    border-bottom: 1px solid var(--div-border-color);

    height: 20%;

    transition: var(--transition);
}

#header-info {
    place-self: center;
}

#recipe-name {
    width: 500px;
}

#image-wrapper {
    display: flex;

    width:  500px;
    height: 500px;
    place-self: center;
}

#header-image {
    display: block;
    width:  auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;

    margin: 50px 50px 50px 50px;

    border: 1px solid var(--div-border-color);
    border-radius: 10px; 

    transition: var(--transition);
}

/* Nutrition */
#nutrition {
    display: grid;
    grid-template-columns: repeat(4, auto);
    width: 66%;

    place-self: center;
}

.nutrition-box {
    padding: 10px 10px 10px 10px;

    width: 125px;
    height: 105px;
    text-align: center;
    place-content: center;

    border-radius: 10px;
    border: 1px solid var(--div-border-color);
    background-color: var(--div-background-color);
    box-shadow: 0px 0px 5px 5px var(--button-hover-color);

    transition: var(--transition);
}

/* Ingredients */
#ingredients {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 50px;
    width: 50%;
    place-self: center;
    padding: 10px 10px 10px 10px;

    border: 1px solid var(--div-border-color);
    background-color: var(--div-background-color);
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px var(--button-hover-color);

    transition: var(--transition);
}

#spoons-header {
    display: none;
}

#spoons-header.visible {
    display: block;
}

/* Instructions */
#instructions {
    border: 1px solid var(--div-border-color);
    background-color: var(--div-background-color);
    border-radius: 10px;
    width: 75%;
    place-self: center;
    padding: 10px 10px 10px 10px;
    box-shadow: 0px 0px 5px 5px var(--button-hover-color);

    transition: var(--transition);
}

.instruction {
    display: grid;
    grid-template-columns: 30px 1fr;
    gap: 10px;
}

.step-number {
    border: 1px solid var(--div-border-color);
    border-radius: 50%;
    width: 30px;
    height: 30px;

    padding: 2px 2px 2px 2px;

    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    font-size: 20px;
    text-align: center;

    color: var(--button-text-color);
    background-color: var(--page-background-color);

    transition: var(--transition);
}

.instruction-text {
    align-self: center;
}