* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    --transition: .25s ease-in-out;

    background-color: var(--page-background-color);
    color: var(--page-text-color);

    transition: var(--transition);
}

#recipe-div {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

#recipe-info, #recipe-instructions {
    place-self: center;
}