/* The entire page */
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    --transition: .25s ease-in-out;

    background-color: var(--page-background-color);
    color: var(--page-text-color);

    transition: var(--transition);
}

/* Text on the page */
.centered-text {
    place-self: center;
    text-align: center;
    padding-bottom: 5px;
}

/* Buttons on the page */
.page-button {
    border: 1px solid var(--button-border-color);
    border-radius: 10px;
    background-color: var(--button-background-color);
    padding: 10px 10px 10px 10px;

    color: var(--button-text-color);
    transition: var(--transition);
}

.page-button:hover {
    background-color: var(--button-hover-color);

    cursor: pointer;

    transition: var(--transition);
}