{% include 'shared_templates/opener.html' %}
    <div id="page-header">
        <br>
        <h1 class="centered-text">Recipe Catalog</h1>
        <h3 class="centered-text">View recipes and plan out your weeks instantly.</h3>
        
        <div id="search-box">
            <button id="search-icon"></button>
            <input id="search-bar" type="text" placeholder="Search...">
        </div>
    
        <br>
        <button id="filter-opener" class="page-button">View filters</button>
        <br>
        <div id="filters">
            <div id="meal-type-filters" class="filter-subcategory">
                <h3 class="centered-text">Meal types</h3>
                <!-- <br> -->
                <button class="page-button filter-button">Breakfast</button>
                <button class="page-button filter-button">Lunch</button>
                <button class="page-button filter-button">Dinner</button>
                <button class="page-button filter-button">Side</button>
                <button class="page-button filter-button">Snack</button>
                <button class="page-button filter-button">Dessert</button>
            </div>
            <div id="type-filters" class="filter-subcategory">
                <h3 class="centered-text">Recipe types</h3>
                <!-- <br> -->
                <button class="page-button filter-button">Dehydration</button>
                <button class="page-button filter-button">Seasoning</button>
                <button class="page-button filter-button">Sauce</button>
            </div>
        </div>
    </div>

    <br>

    <div id="recipe-catalog">
        {% for recipe_name, recipe_measurements, recipe_ingredients, recipe_meal_type, recipe_image in recipe_card_data %}
        <div class="recipe-card">
            <!-- This is invisible. It has an ID of the recipe name, and contains that recipe's data. -->
            <span class="data-holder" id="{{ recipe_name }}" 
                data-measurements="{{ recipe_measurements }}" 
                data-ingredients="{{ recipe_ingredients }}" 
                data-meal-type="{{ recipe_meal_type }}" 
                data-image="{{ url_for('static', filename=recipe_image) }}">
            </span>

            <a class="recipe-link" href="{{ url_for('recipe_page', recipe=recipe_name) }}">
                <img class="recipe-image" src="{{ url_for('static', filename=recipe_image) }}">
            </a>

            <h3 class="recipe-name">{{ recipe_name.title() }}</h3>
            <h3 class="delete-recipe">X</h3>
        </div>
        {% endfor %}
    </div>

    <br>
    <h1 class="centered-text">Upcoming week</h1>
    <div id="ingredient-list" data-ingredients="" data-measurements="">
        <h3 class="centered-text">Ingredients</h3>
    </div>
    <br>

    <div id="week-planner">
        {% for day in ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday'] %}
            <div class="weekday-div">
                <h2 class="page-text weekday-outer-element">{{ day.capitalize() }}</h2>
                <button class="weekday-button" id="{{ day }}"><span class="weekday-inner-text"></span></button>
                <button class="page-button weekday-multi">Spread out recipe: Disabled</button>
                <h2 class="page-button weekday-outer-element weekday-clear" id="{{ day }}-clear">Clear recipe</h2>
            </div>
        {% endfor %}
    </div>

    <script src="{{ url_for('static', filename='js/{}/{}_elements.js'.format(page_id, page_id)) }}"></script>
    <script src="{{ url_for('static', filename='js/{}/search.js'.format(page_id, page_id)) }}"></script>
    <script src="{{ url_for('static', filename='js/{}/recipe_catalog.js'.format(page_id)) }}"></script>
    <script src="{{ url_for('static', filename='js/{}/weekdays.js'.format(page_id)) }}"></script>
    <script src="{{ url_for('static', filename='js/{}/ingredient_aggregation.js'.format(page_id)) }}"></script>
    <script src="{{ url_for('static', filename='js/{}/{}.js'.format(page_id, page_id)) }}"></script>

{% include 'shared_templates/closer.html' %}