<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Planner</title>

    <!-- Style Reset -->
    <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">

    <!-- Index Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

    <!-- Theme -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/themes.css') }}">
    <script src="{{ url_for('static', filename='js/themes.js') }}"></script>
</head>
<body id="webpage">
    <h1 id="header">Meal Planner</h1>

    {% include 'themes.html' %}

    <div id="recipe_catalog">
        {% for recipe in recipes %}
        <a class="recipe_link" href="{{ url_for('recipe_page', recipe=recipe) }}">
            <h1 class="recipe_name">{{ recipe.capitalize() }}</h1>
        </a>
        {% endfor %}
    </div>
</body>
</html>