<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Planner</title>

    <!-- Style Reset -->
    <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">

    <!-- Index Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

    <!-- Theme -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/themes.css') }}">
    <script src="{{ url_for('static', filename='js/themes.js') }}"></script>
</head>
<body id="webpage">
    <h1 class="header">Meal Planner</h1>

    {% include 'themes.html' %}



    <div id="recipe-catalog">
        {% for recipe in recipes.values() %}
        <a class="recipe-link" href="{{ url_for('recipe_page', recipe=recipe.get('name')) }}">
            <h2 class="recipe-name" data-ingredients="{{ recipe.get('ingredients') }}">{{ recipe.get('name').capitalize() }}</h2>
        </a>
        {% endfor %}
    </div>

    <br>
    <h1 class="header">Upcoming week</h1>
    <h3 id="ingredient-list">Ingredients required: </h3>
    <br>

    <div id="week-planner">
        <button class="weekday" id="sunday">Sunday</button>
        <button class="weekday" id="monday">Monday</button>
        <button class="weekday" id="tuesday">Tuesday</button>
        <button class="weekday" id="wednesday">Wednesday</button>
        <button class="weekday" id="thurday">Thursday</button>
        <button class="weekday" id="friday">Friday</button>
        <button class="weekday" id="saturday">Saturday</button>
    </div>
</body>
</html>