<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ recipe.get('name').capitalize() }}</title>

    <!-- Style Reset -->
    <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">

    <!-- Recipe Page Styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recipe_page.css') }}">

    <!-- Theme -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/themes.css') }}">
    <script src="{{ url_for('static', filename='js/themes.js') }}"></script>
</head>
<body id="webpage">
    {% include 'themes.html' %}

    <div id="recipe-div">
        <div id="recipe-info">
            <img src="{{ url_for('static', filename=recipe_image) }}">
        </div>

        <div id="recipe-instructions">

        </div>
    </div>

    <h1>This is the recipe page for {{ recipe.get('name').capitalize() }}</h1>
</body>
</html>